
@model Chess_GEMA.ViewModels.NewsFeedFormViewModel
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>News-Feed</h2>
        <div class="jumbotron">
            <h2 class="display-3">Neuigkeit verfassen</h2>
            <hr/>
            @using (Html.BeginForm("Save", "NewsFeed", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <form>
                        <table>
                            <tr>
                                <td>
                                    <!----Es werden Textboxen und eine möglichkeit Bilder einzufügen erstellt und an die Save Methode des
                                        NewsFeedControllers übergeben.-->
                                    <div class="form-group">
                                        @Html.Label("Titel", new { @class = "col-lg-2 control-label" })
                                        @Html.TextBoxFor(m => m.NewsFeed.Titel, new { @class = "form-control", autofocus = "true" })
                                        @Html.ValidationMessageFor(m=> m.NewsFeed.Titel, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Text Area", new { @class = "col-lg-4 control-label" })
                                        @Html.TextAreaFor(m => m.NewsFeed.Text, new { @class = "form-control", autofocus = "true" })
                                        @Html.ValidationMessageFor(m=> m.NewsFeed.Text, "", new { @class = "text-danger" })
                                        <span class="text-danger">@ViewBag.Error</span>
                                    </div>
                                    
                                    
                                </td>
                                <td>
                                    <div class="form-group col-md-2">
                                        @Html.Label("Titelbild:", new { @class = "col-lg-2 control-label" })
                                        <input type="file" name="imageBase" id="file" />
                                        @Html.ValidationMessageFor(m=> m.NewsFeed.TitelImage, "", new { @class = "text-danger" })
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                
                            </tr>
                        </table>
                    </form>
                </fieldset>
            }
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
