@model Chess_GEMA.ViewModels.ListAQFormViewModel

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <span>
            <h2>Fragen</h2>
        </span>
        <div class="jumbotron" style="padding: 10px">
            @if (User.IsInRole("User") || User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                @Html.ActionLink("Frage stellen", "Create", "Questions", new {@class = "btn btn-info btn-lg center-block"})

            }
            else
            {
                @Html.ActionLink("Anmelden: Frage stellen", "Login", "Account", null, new {@class = "btn btn-warning btn-lg center-block "})
            }
            <hr>
            @if (Model.AqFormViewModels.Count().Equals(0))
            {
                <text> Es wurden noch keine Fragen gestllt. :( </text>
            }

            @{var tdCount = 0;}
            <table class="table-bordered">
                @foreach (var post in Model.AqFormViewModels)
                {
                    if (tdCount == 3)
                    {@Html.Raw("<tr>")
                    }
                    <td>
                        <article class="col-md-12 table-bordered img-rounded" style="background-color: azure; ">
                            <div style="padding: 10px 20px">
                                <div>
                                    <strong>Frage</strong> von @Html.ActionLink(post.Question.Questioner.UserName, "Details", "Questions", new {id = post.Question.Id}, new {@class = "text-info"})
                                    <br/>
                                    <span class="lead p2">@post.Question.Date</span>
                                </div>
                                <br/>
                                <div>
                                    <strong> @Html.ActionLink(post.Question.Topic, "Details", "Questions", new {id = post.Question.Id}, new {style = "text-decoration:none;font-weight: bold"})</strong>
                                </div>
                                <div>
                                    <p>@Html.ActionLink(post.Question.Text, "Details", "Questions", new {id = post.Question.Id}, new {style = "text-decoration:none"})</p>
                                </div>
                                <div style="padding: 0px 0px 10px 0px">
                                    @if(post.Question.Answered)
                                    {@Html.ActionLink(post.Answers.Count + " Antworten", "Details", "Questions", new {id = post.Question.Id}, new {@class = "btn btn-info btn-sm disabled"})


                                    }
                                    else
                                    {@Html.ActionLink(post.Answers.Count + " Antworten", "Details", "Questions", new {id = post.Question.Id}, new {@class = "btn btn-info btn-sm "})
                                    }
                                    <span style="padding: 5px">
                                        @if (!post.Question.Answered)
                                        {

                                            if (post.Question.Questioner.UserName.Equals(User.Identity.Name))
                                            {
                                                @Html.ActionLink(" ", "SwitchAnswered", "Questions", new {id = post.Question.Id}, new {@class = "glyphicon glyphicon-remove-circle alert-danger"})
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-remove-circle alert-danger" style="padding: 5px"></span>
                                            }
                                        }
                                        else
                                        {

                                            if (post.Question.Questioner.UserName.Equals(User.Identity.Name))
                                            {
                                                @Html.ActionLink(" ", "SwitchAnswered", "Questions", new {id = post.Question.Id}, new {@class = "glyphicon glyphicon-ok-circle alert-success"})
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-ok-circle alert-success" style="padding: 5px"></span>
                                            }
                                        }
                                    </span>

                                </div>
                                @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                                {<div style="margin: 0px 5px 0px 0px">
                                     @Html.ActionLink("Edit", "Edit", "Questions", new {id = post.Question.Id}, new {@class = "btn btn-warning btn-sm"})
                                     @Html.ActionLink("Delete", "Delete", "Questions", new {id = post.Question.Id}, new {@class = "btn btn-danger btn-sm"})
                                 </div>
                                }
                            </div>
                        </article>
                    </td>
                    tdCount++;
                    if (tdCount == 3)
                    {
                        tdCount = 0;
                        @Html.Raw("</tr>")
                    }
                }</table>
        </div>
    </div>
</div>