
@using Chess_GEMA.Models
@using Chess_GEMA.Models.Constants
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyAuvaaQwxIG1wFtNw51K3gRXgGUQiBxFw0" type="text/javascript"></script>


</head>
<body>
    @*Rendert die Navigationsleiste*@
    @Html.Partial("_NavBar")

    <div class="container body-content">
        <br /><br />
        @RenderBody()

        
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
<footer>
    <br /><br />
    <p align="center">@DateTime.Now.Year - SC. GEMA St. Ingbert - All Rights reserved</p>
</footer>